<ion-header>
  <ion-toolbar>
    <ion-title>Record Voice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="center-button-container">
    <ion-button class="round-button" (click)="recordVoice()">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- Button to navigate to the transcriptions page -->
  <div class="transcriptions-button-container">
    <ion-button expand="block" color="secondary" routerLink="/transcriptions">
      View Transcriptions
    </ion-button>
  </div>
</ion-content>
