.register-background {
    background-image: url('/assets/img/ai_gif_11.gif');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

form {
padding: 20px;
}

ion-item {
margin-bottom: 10px;
}

ion-button {
margin-top: 20px;
}
ion-avatar {
display: block;
margin: 20px auto;
width: 100px;
height: 100px;
}

ion-avatar img {
border-radius: 50%;
}
